body {
  background: linear-gradient(rgb(255, 255, 0), rgb(89, 89, 255));
}

img {
  border-radius: 100px;
  margin: 50px auto 0 auto;
  display: block;
  cursor: pointer;
}

h1 {
  text-align: center;
  text-shadow: 10;
}

p {
  text-shadow: 10px;
  font-size: 20px;
}
li {
  font-size: larger;
}
