body {
  background: linear-gradient(rgb(235, 231, 8), rgb(64, 166, 122));
}

img {
  border-radius: 100px;
  margin: 50px auto 0 auto;
  display: block;
  cursor: pointer;
}

h1 {
  text-align: center;
  text-shadow: 10;
}

h4 {
  text-align: center;
}

p {
  text-shadow: 10px;
  font-size: 20px;
}
li {
  font-size: larger;
}
